body{
  display: block;
  margin: 0px;
}

/*
.flex-container {
  display: flex;
}*/

header {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  background-color: #1f2937;
}

.header-logo-text{
  font-size: 24px;
  color: #f9faf8;
  font-family: sans-serif;
}


a{
   margin-right: 16px;
   margin-left:16px;
   font-size: 18px;
   color: #e5e7eb;
   font-family: sans-serif;
}

.hero{
   display: flex;
   flex: 1;
   /*justify-content: space-around;*/
   justify-content: center;
   padding-top: 2cm;
   padding-bottom: 2cm;
   margin-bottom: 1cm;
   background-color: #1f2937;
}

.hero-p{
   display: flex;
   flex: 1;
   flex-wrap: wrap;
   margin-block-start: 2px;
   font-size: 18px;
   color: #e5e7eb;
   font-family: sans-serif;
}

.hero-main-text{
   font-size: 48px;
   color: #f9faf8;
   font-weight: bold;
   margin-block-end: 0px;
   font-family: sans-serif;
} 

button{
   color: #f9faf8;
   background-color: #3882f6;
   border-color: #3882f6;
   padding-block: 6px;
   padding-inline: 32px;
   border-radius: 8px;
   font-size: 18px;
   font-weight: bold;
}

.first-content{
   display: flex;
   flex: 1;
   flex-direction: column;
   align-items: center
}

.info-hearder-text{
   font-size: 36px;
   font-weight: bold;
   color: #1f2937;
   font-family: sans-serif;
}

.box-group{
   display: flex;
   flex: 1;
}

.blank-box{
  border: 2px solid #3882f6;
}

.second-content{
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  background-color: #e5e7eb
}

.quote-text{
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  font-family: sans-serif;
  color: #1f2937;
}

.second-content-h3{
  display: flex;
  flex: 1;
  justify-content: end;
}

.third-content{
  display: flex;
  flex: 1;
  justify-content: center;
}

.third-content-child{
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.third-content-grandchild-2{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

/*
footer .hero {
	background-color: #1f2937;
}*/

footer{
  display: flex;
  flex: 1;
  justify-content: center;
  margin-top: 1em;
  color: #f9faf8;
  background-color: #1f2937;
}